[submodule "vim/bundle/bufexplorer.vim"]
	path = vim/bundle/vim-bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/mru.vim"]
	path = vim/bundle/vim-mru
	url = https://github.com/yegappan/mru.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/vim-lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/vim-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/numbertoggle.vim"]
	path = vim/bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "vim/bundle/vim-dirvish"]
	path = vim/bundle/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish.git
[submodule "vim/bundle/vim-highlightedyank"]
	path = vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "vim/bundle/vim-bufexplorer"]
	path = vim/bundle/vim-bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/vim-ctrlp"]
	path = vim/bundle/vim-ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/vim-lightline"]
	path = vim/bundle/vim-lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/vim-mru"]
	path = vim/bundle/vim-mru
	url = https://github.com/yegappan/mru.git
[submodule "vim/bundle/vim-fzfmru"]
	path = vim/bundle/vim-fzfmru
	url = https://github.com/pbogut/fzf-mru.vim.git
[submodule "vim/bundle/vim-fzf"]
	path = vim/bundle/vim-fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/bundle/vim-vimwiki"]
	path = vim/bundle/vim-vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/bundle/vim-vifm"]
	path = vim/bundle/vim-vifm
	url = https://github.com/vifm/vifm.vim.git
